/*body {
  background-color: lightgrey;
}*/

div#game-board {
  margin-left: 25%;
  height: 612px;
  width: 714px;
  border: 1px solid #399de3;
  background-image: url(images/game-board.png);
}

div.col {
  display: inline-block;
  float: left;
}

div.cell {
  height: 100px;
  width: 100px;
  border: 1px solid #399de3;
}

div.player1 {
  background-image: url(images/red-circle.png);
}

div.player2 {
  background-image: url(images/black-circle.png);
}

h1 {
  text-align: center;
}

#name1 {
  margin-left: 30%;
}

#reset-button {
  margin-left: 48%;
  margin-bottom: 10px;
}